* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  position: relative;
  width: 400px;
}
.slide {
  display: none;
  border: 50px solid wheat; /* Agrega un borde elegante */
  border-radius: 200px; /* Añade esquinas redondeadas */
  overflow: hidden; /* Oculta cualquier desbordamiento */
  width: 500px;
}

.slide img {
  width: 70%;
  height: auto;
  position:center;
}
.prev, .next {
  cursor: pointer;
  position: center;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
}
.next {
  right: 0;
}



